*{
	margin:0;
	padding:0;
}

/*使用iconfont阿里巴巴矢量图标库*/
@font-face{
	font-family:"iconfont";
	src:url("../img/font/iconfont.eot");
	src:url("../img/font/iconfont.eot") format("embedded-opentype"),url("../img/font/iconfont.woff") format("woff"),url("../img/font/iconfont.ttf") format("truetype"),url("../img/font/iconfont.svg#iconfog") format("svg");
}



a:link,a:visited{
	text-decoration: none;
	color:#333;
}

ul{
	list-style:none;
}

body{
	font-family: "微软雅黑";
	color:#14191e;
}

.main{
	width: 1200px;
	height:460px;
	margin:30px auto;
	overflow: hidden;  
	/*同一时间只显示一张背景图片*/
	position:relative;
}

.banner{
	width: 1200px;
	height:460px;
	overflow: hidden;
	position:relative; 
}

.banner-slide{
	width: 1200px;
	height:460px;
	position:absolute; 
	background-repeat: no-repeat;
	/*背景图片平铺*/
	display:none;
}

.slide-active{
	display: block;
}

.slide1{
	background-image: url("../img/bg1.jpg");
}

.slide2{
	background-image: url("../img/bg2.jpg");
}

.slide3{
	background-image: url("../img/bg3.jpg");
}

.button{
	position: absolute;
	width: 40px;
	height: 80px;
	left: 244px;
	top:50%;
	margin-top:-40px; /*因为button本身有高度，如果没有这句的话，只有左上角上下居中，并非这个button居中*/
	background:url(../img/arrow.png)  no-repeat center center;
}

.button:hover{
	background-color: #333; 
	/*注意这里不能用backgound，因为上面已经设置背景图片了，再用的话会把颜色覆盖背景图片的，因此要单独设置背景颜色*/
	opacity:0.8; /*透明度设置*/
	/*以下为了支持IE8及更早版本*/
	filter:alpha(opacity=80);
}

.prev{
	transform: rotate(180deg); /*CSS3里的属性，水平翻转*/
}

.next{
	left:auto; /*因为在button在已经设置过left了，所以直接设置right没用了，因此要先把left改为auto*/
	right:0;
}

.dots{
	position:absolute;
	right:20px;
	bottom:24px;
	text-align: right;

}

.dots span{
	display: inline-block; /*要先把span变成块级元素后才能设置后续属性*/
	width: 12px;
	height: 12px;
	line-height: 12px;
	border-radius: 50%; /*CSS3属性*/
	background: rgba(7,17,27,0.4);
	box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;/*CSS3属性*/
	margin-left: 8px;
	cursor:pointer; /*使光标为手型*/
}

.dots span.active{
	box-shadow: 0 0 0 2px rgba(7,17,27,0.4) inset;
	background: #fff;
}

.menu-box{
	width: 244px;
	height: 460px;
	position:absolute;
	left:0;
	top:0;
	background:rgba(7,17,27,0.5);
	opacity:0.5;
	z-index:1; /*因为被banner遮住了*/

}

.menu-content{
	width: 244px;
	height: 454px;
	position:absolute;
	left:0;
	top:0;
	z-index:2;/*文字要放在半透明层上面*/
	padding-top:6px;
}

.menu-item{
	height: 64px;
	line-height:66px;
	font-size: 16px;
	padding: 0 24px;
	position: relative;
}

.menu-item a:link,menu-item a:visited{
	color:#fff;
}

.menu-item a{
	display: block;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	padding:0 8px;
	height: 63px;

}

.menu-item i{
	position:absolute;
	right:32px;
	font-size: 24px;
	top:0;
	font-family: "iconfont";
	font-style: normal;
	font-weight: normal;
	color:rgba(255,255,255,0.5);
}

.sub-menu{
	width: 730px;
	height: 458px;
	border:1px solid #d9ddc1;
	background: #fff;
	position:absolute;
	left:244px;
	top:0;
	z-index: 999;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.inner-box{
	width: 100%;
	height:100%;
	background: url(../img/fe.png) no-repeat;
	display: none;

}

.sub-inner-box{
	width: 652px;
	margin-left: 40px;
	overflow: hidden;

}

.title{
	color:#f01414;
	font-size: 16px;
	line-height: 16px;
	margin: 28px 0 30px 0;
	font-weight: bold;
}

.sub-row{
	margin-bottom: 25px;

}
.bold{
	font-weight: bold;
}

.mr10{
	margin-right: 10px;
}

.ml10{
	margin-left: ;: 10px;
}

.hide{
	display: none;
}